/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body {
  background-color: hsl(0, 0%, 95%);
}

.sedan {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.suv {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

h1 {
  font-family: 'Big Shoulders Display';
  font-size: 36px;
  color: hsl(0, 0%, 95%);
}

p {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
}

.pill-button {
  font-family: 'Lexend Deca', sans-serif;
  background-color: hsl(0, 0%, 95%);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 36px;
}

.sedan-btn {
  color: hsl(31, 77%, 52%);
}

.suv-btn {
  color: hsl(184, 100%, 22%);
}

.luxury-btn {
  color: hsl(179, 100%, 13%);
}

.pill-button:hover {
  background-color: transparent;
  color: hsl(0, 0%, 95%);
  border: 2px solid hsl(0, 0%, 95%);
  margin: 0;
}

/* Viewport Medium and Smaller */
@media only screen and (max-width: 800px) {
  .cars {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-bottom: 36px;
  }
  .sedan {
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
  }
  .luxury {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
  }
  .pill-button:hover {
    background-color: transparent;
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    margin: 0;
  }
  
}
